*.db
*.log
.uuid
data
deps
known_devices.yaml
secrets.yaml
/.HA_VERSION
/home-assistant.sublime-project
/home-assistant.sublime-workspace
__pycache__
/.cloud
/.homekit.state
/.ios.conf
/.ps4-wake.credentials.json
/.ps4.conf
/tts
/.storage
/.ring_cache.pickle
